button {
    width: 80%;
    display: block;
    background-color: var(--blue-light);
    color: var(--white);
    margin: 0.5rem auto;
    padding: 1rem;
    border: none;
    font-size: var(--font-md-plus);
    border-radius: 6px;
    box-shadow: var(--shadow-black) 3px 4px 10px 2px;
}

button:disabled {
    background-color: lightgrey;
    color: var(--dark);
    font-size: var(--font-md);
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.3rem;
}
