section {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    gap: 0.3rem;
}

.filter-div {
    display: grid;
    grid-template-columns: 85% 15%;
    margin: 1rem auto;
    width: 90%;
    height: 50px;
    align-items: center;
}

div p {
    margin: 0;
}

button {
    display: block;
    border: 1px solid var(--dark);
    aspect-ratio: square;
    font-size: var(--font-md-plus);
    border-radius: 6px;
    color: var(--dark);
    position: relative;
    height: 30px;
    width: 30px;
    margin: auto;
    box-shadow: var(--shadow-black) 1px 1px 10px 1px;
}

button .filter-icon {
    position: absolute;
    font-size: var(--font-md-plus);
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
}

.categories-component {
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: space-evenly;
}

.categories-component > * {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    font-size: var(--font-sm);
}
.categories-component button p {
    margin: auto;
}
