button {
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    font-size: var(--font-md-plus);
}

button:disabled {
    background-color: lightgrey;
    color: var(--dark);
    font-size: var(--font-md);
}

section {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
}
