.card-container {
    border: 1px solid var(--dark);
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.icon {
    font-size: var(--font-lg);
}
