button {
    border-radius: 6px;
    border: none;
    padding: 0.1rem 0.5rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: var(--font-md);
    color: var(--white);
    width: max-content;
}
