section {
    display: grid;
    grid-template-columns: 60% auto;
    gap: 1rem;
    padding: 0.2rem;
    height: 40%;
}

.initiative-meta {
    background-color: var(--blue-light);
    border-radius: 6px;
    color: var(--white-dimmed);
}
.user-meta {
    display: grid;
    grid-template-columns: 20% auto;
    gap: 1rem;
    font-size: var(--font-sm);
    align-items: center;
}
.user-meta img {
    border-radius: 50%;
}
.user-meta .img-icon {
    height: 50px;
    width: 50px;
}
h1 {
    font-size: var(--font-md);
    text-align: center;
}

.attendees img {
    border-radius: 50%;
}

.messages {
    height: 20rem;
    overflow: scroll;
}

.message {
    display: flex;
    margin: 0.3rem auto;
}
.message-avatar {
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    display: block;
}
.chat-avatar-icon {
    height: 50px;
    width: 50px;
    margin: auto;
    display: block;
}
.message-line {
    border-radius: 6px;
    border: 1px solid var(--turk);
    margin: auto;
}

.message p {
    width: 15rem;
    margin: 0.2rem;
    word-wrap: break-word;
}
.chat-container button {
    display: block;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    text-align: center;
    border: 1px solid var(--dark);
}
.chat-container input {
    font-size: var(--font-sm);
    padding: 0.2rem;
    width: 14rem;
    margin: auto 0.3rem;
}
