div {
    border: 1px solid var(--blue);
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

div img {
    border-radius: 5px;
}
div section {
    display: flex;
    align-items: center;
    padding: 0 2rem;
}
div section p {
    font-size: var(--font-sm);
}
