nav {
    display: grid;
    grid-template-columns: auto max-content;
    padding: 0.3rem 0.5rem;
    margin: 0;
    align-content: center;
    overflow: hidden;
}

.toggle-button-div {
    position: relative;
    min-width: 3rem;
    min-height: 2.5rem;
}
section {
    z-index: 10;
}

section ul {
    list-style: none;
    height: 50%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section ul li {
    background-color: var(--shadow-white);
    border-radius: 10px;
    padding: 0;
    height: 2rem;
}

section ul li button {
    color: var(--white);
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: var(--font-md);
}
section ul li button .nav-icon {
    margin: 0 0.5rem;
}

@media (max-width: 750px) {
    section {
        position: fixed;
        width: 14rem;
        font-size: var(--font-md-plus);
        flex-direction: column;
        background-color: var(--dark);
        height: 20rem;
        border-radius: 6px;
        top: 18%;
        right: -14rem;
        transition: right 0.2s ease-in;
    }
    section.toggled {
        right: 0;
    }
}
