section {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 40% 1fr;
}

.profile-icon {
    font-size: 6rem;
}
.image-div {
    text-align: center;
    position: relative;
}
.image-div .add-image-button {
    border: none;
    background-color: transparent;
    position: absolute;
    font-size: var(--font-md-plus);
    color: var(--dark);
    bottom: 0;
}

.info-div h1 {
    font-size: var(--font-md);
    width: fit-content;
    height: fit-content;
}
.info-div p {
    font-size: var(--font-sm);
    width: fit-content;
    height: fit-content;
    margin: 0;
}
.info-div {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.current-upload-image {
    display: block;
    margin: 0.5rem auto;
    height: 15rem;
    width: auto;
}

.loader-div {
    position: relative;
    height: 2rem;
    margin: 0 auto;
    text-align: center;
}
