input {
    font-size: var(--font-md);
    border: none;
    color: var(--dark);
    border-radius: 6px;
}

select {
    font-size: var(--font-md);
    color: var(--dark);
    border: none;
    border-radius: 6px;
}

.form-div {
    width: 16rem;
    margin: 1.3rem auto;
    display: flex;
    flex-direction: column;
    border-bottom: 0.5px solid var(--dark);
}

.form-div.number-of-attendees {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}
.form-div.date {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    align-items: center;
}
.form-div.date input {
    font-size: var(--font-md);
}
.form-div.clock {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}
.form-div.clock input {
    font-size: var(--font-md);
}
.form-div.category {
    display: grid;
    grid-template-columns: 50% 50%;

    align-items: center;
}
.form-div.category select {
    font-size: var(--font-md);
    color: var(--dark);
}
.textarea-div {
    display: flex;
    flex-direction: column;
    border: none;
}

button {
    width: 100%;
    background-color: var(--green);
    border: none;
    padding: 0.5rem;
    font-size: var(--font-md-plus);
}
