div {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

p {
    color: white;
    font-size: var(--font-sm);
    margin: 0;
}

button {
    background-color: var(--green-light);
    width: 9rem;
    margin: 0;
    padding: 0;
    border: 1px solid var(--white-dimmed);
    color: black;
    font-size: var(--font-sm);
}
