button {
    font-size: var(--font-md);
    border: 2px solid var(--green);
    padding: 0.3rem 1rem;
    border-radius: 0.2rem;

    color: var(--dark);
}
.hight-light {
    background-color: var(--green-light);
    border: 2px solid var(--green);
    box-shadow: var(--shadow-blue) 2px 2px 8px 5px;
}
