:root {
    --mpd-text-dark: #1e1e1e;
    --mpd-text-blue: #7597a5;
    --mpd-shadow-blue: rgba(117, 151, 165, 0.3);
    --mpd-text-purple: #ac7ff4;
    --mpd-dark-purple: #713fc2;
    --mpd-dark-background: #151934;
    --mpd-text-white: #e7e6e6;
}

html {
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family:
        Andale Mono,
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}

body {
    padding: 0;
    margin: 0;
    line-height: inherit;
    display: grid;
    height: 100dvh;
    grid-template-rows: auto 1fr auto;
}
